#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


form{
  background-color:#FFFFDD;
  border:2px solid #f8f800;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction:column;
  gap:10px;
  padding:1rem;
}
.textColorBox{
  padding: 0;
  background-color:white
  ;
}

form input, select,option{
  padding:5px;
  border-radius:5px;
  border:#f0f0f0 3px solid;
  margin-left:5px;

}

form input:focus{
  outline:none;
}

.card-preview {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  position: relative;
  height:400px;
  margin:2rem auto;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}


